.desc {
  clear: both;
}
.desc--hidden {
  clear: both;
  position: relative;
  height: 130px;
  overflow: hidden;
}
.desc p {
  margin: 20px 0 0  0;
  padding: 0;
  line-height: 2.24rem;
}
.desc__img {
  margin: 16px 0 0;
  display:inline-block;
  width: 100%;
}

.desc--hidden:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10; /* above about__details */
  height: 80px;
  background: linear-gradient(0deg, var(--l-5) 39.98%, rgba(249, 249, 250, 0) 111.2%);
  border-bottom :1px solid #CBD2E1; /* shade40 */
}
.desc--hidden + .desc__readmore {
  position: relative;
  z-index: 20; /* above about__fade, about__details*/
  margin: -24px auto 0 auto;
  width: 184px;
  background: var(--l-5);
  text-align: center;
}

