
header {
  margin: 0 auto;
  padding: 0 60px 0 56px;
  width: 1428px; /* desktopWidth */
  border-bottom: 1px solid var(--l-10); /* shad15*/
}

@media (max-width:1427px){
 header {
    width: auto;
    padding: 20px 24px;
    justify-content: space-between;
    border: 0;
 }
}

.header__col1 {  /* 736px (+ 4px to allow for bleed of "Alerts") + 10px alerts padding-right */
  margin-left: 62px;
}

.header__col2 { /*596px - 60px padding (- 4px to allow for bleed of "Alerts") -10px alerts padding-right */
  width: 514px;
  justify-content: flex-end;
}

.logo {
  padding: 17px 0;
}
.logo a {
  display: flex; /* fix img display-block adding to extra height */
  align-items: center;
}
.logo img {
  height: 40px;
  width: auto;
}

@media (max-width:1427px){
  .logo {
    padding: 0;
  }
  .logo .icon {
    width: 17px;
    height: 17px;
  }
  .logo .label {
    margin: 0 0 0 4px;
    padding: 4px 0 0 0; /* font vertical */
  }
 }

/* 298px */
.search__form {
  margin: 13px 0;
  width: 300px;
  display: flex;
  justify-content: space-between;
  /* flex: 0 0 300px; */
  /* height: 48px; */
  border: 1px solid var(--l-50); /* shade50 */
  border-radius: 4px;
  position: relative;
  transition: border 0.2s;
}
.search__form:hover .search__input {
  color: var(--primary-green);
}
.search__form:hover {
  color: var(--primary-green);
}
.search__button path,
.search__button circle {
  transition: stroke 0.2s;
}

.search__form:hover .search__button path,
.search__form:hover .search__button circle {
  stroke: var(--primary-green);
}


.search__input,
.search__button {
  outline: none;
}
/* 296px */
.search__input {
  border: 0;
  margin: 12px 0 12px 15px;
  padding: 0;
  width: 235px;
  height: 22px;
  transition: color 0.2s;
}
.search__button {
  margin: 13px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.search__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--l-80);
  width: 200px;
}
