
.l-fixed--top {
  position: fixed;
  top: 0;
  background: var(--primary-white);
  z-index: 100; /* above all main */
  width: 100%;
}

@media (max-width:1427px){
  .l-fixed--top {
    left: calc(((100vw - 600px) / 2) - 10px); /* - 10px allow for scrollbar? */
    width: 600px;
  }
  .l-fixed--top + * {
    margin-top: 65px;
  }
}

@media (max-width:600px){
  .l-fixed--top {
    width: 100%;
    left: 0;
  }
}


@media (min-width:1428px){
  .l-fixed--top {
    left: calc(((100vw - 1428px) / 2) - 10px); /* - 10px allow for scrollbar? */
  }
  .l-fixed--top + * {
    margin-top: 75px;
  }

  .l-fixed--right-lg {
    position: fixed;
    right: calc((100vw - 1428px) / 2);  /* - 10px allow for scrollbar? */
    background: var(--primary-white);
    z-index: 10;
  }
}
