
@media (min-width:1428px){
  .slideshow__slides {
    width: 736px;
    height: 736px;
  }
}
@media (max-width:1427px){
  .slideshow__slides {
    height: 600px;
  }
}

@media (max-width:600px){
  .slideshow__slides {
    height: 100vw;
    min-height: 386px;
  }
}

.slideshow__image,
.slideshow__video {
  height: auto;
  width: 100%;
}

.slideshow__slides {
  position: relative;
  overflow: hidden;
}

/***********************/
.slideshow__prev,
.slideshow__next {
  position: absolute;
  top: 0;
  padding: 352px 24px;
  transition: all 0.2s;
  outline: 0;
}

@media (max-width:1427px){

  .slideshow__prev,
  .slideshow__next {
    padding: calc(50% - 16px) 24px;
  }
}

.slideshow__prev {
  transform: rotate(180deg);
}
.slideshow__next {
  right: 0;
}

.slideshow__prev:hover {
  transform: scale(1.2, 1.2) rotate(-180deg); /* 180 + 360*/
}
.slideshow__next:hover {
  transform: scale(1.2, 1.2); /* rotate(360deg); */
}

/****************************/
.slideshow__links {
  display: flex;
  justify-content: space-between;
  padding: 32px 60px 0 60px;
}

@media (max-width:1427px) {
  .slideshow__links {
    padding: 18px 24px 0 24px;
  }
}

.slideshow__indicators {
  display: flex;
  height: 20px;
  align-items: center;
}
.slideshow__indicator {
  width: 9px;
  height: 9px;
  margin: 0 0 0 10px;
  padding: 0;
  /* border-radius: 50%; */
  border: 0;
  /* background: var(--l-50); */
  outline: 0;
  background: transparent;
  display: flex;
  align-items: center;
}

.slideshow__indicator--active .icon,
.slideshow__indicator:hover .icon {
  width: 9px;
  height: 9px;
}

.slideshow__indicator:hover .icon circle {
  fill: var(--primary-green);
}


.slideshow__indicator--active .icon circle{
  fill: var(--primary-dark);
}
/******************************************/
