.btn {
  display: inline-block;
  padding: 13px 24px;
  height: 48px;
  line-height: 2rem; /* vertical center for 1.6rem font-size h4*/
  border-radius: 8px;
  border: 0;
  text-decoration: none;
  transition: border-radius 0.2s, border-color 0.2s, color 0.2s;
  vertical-align: middle;
}

.btn:hover {
  border-radius: 20px/30px;
}

.btn--secondary {
  border: 2px solid var(--primary-dark); /* bg--100 */
  background: var(--l-5);
}
.btn--secondary:hover {
  border-color: var(--secondary-darkgreen);
  color: var(--secondary-darkgreen);
}

.btn--large {
  width: 188px;
}
.btn--xlarge {
  width: 264px;
}

.btn--small {
  padding-left: 17px;
  padding-right: 17px;
}

.btn--icon {
  padding: 0;
  border: 0;
  background: transparent;
}
.btn--icon:hover .icon path {
  stroke: var(--primary-green);
}
.btn--icon:hover .icon path[fill] {
  fill: var(--primary-green);
}

.btn--primary {
  color: var(--primary-white);
  background: var(--primary-dark);
}

.btn--green {
  color: var(--primary-white);
  background: var(--primary-green);
}
/***************************/

.btn--link,
.btn--link path,
.btn--link circle {
    transition: all 0.2s;
}

.btn--link {
  border: 0;
  background: transparent;
  width: auto;
  text-align: left;
}

.btn--link:hover path {
  stroke: var(--primary-green);
}

.btn--link:hover path[fill] {
  fill: var(--primary-green);
}

.btn--link:hover,
.btn:hover {
  color: var(--primary-green);
}

.btn--green:hover {
  color: var(--primary-white);
}