.figure {
  border-radius: 12px;
  padding: 16px 40px;
  background: var(--l-10);
}

.figure__img {
  display: block;
  margin: 0 auto;
}

.figure--xpad {
  padding: 40px 110px;
}

@media (max-width:1427px){
  .figure,
  .figure--xpad {
    padding: 40px 32px;
  }
}

.figure__btn {
  margin: 24px 0 0 0;
}

.figcaption {
  display: inline-block;
}
.figcaption.h1 {
  padding: 0 24px;
  display: block;
}
@media (max-width:1427px){
  .figcaption.h1 {
    padding: 24px 0 0 0;
  }
}

.figure .icon-label {
  margin: 8px 0 0;
  justify-content: center;
}

.figcaption .icon {
  margin: -4px 0 0 0; /* hack fix vertical center */
}
/* .figcaption .label,
.figcaption .icon {
  vertical-align: baseline;

} */
/* .figcaption .icon {
  height: 16px;
} */
