:root {
  --primary-dark: #020018;
  --primary-green: #17B890;
  --primary-white: #FFF;

  --secondary-darkgreen: #007558;
  --secondary-bg-green: #E8F8F4;
  --secondary-salmon: #F6C2D1;
  --secondary-ochre: #F4BD6B;
  --secondary-blue: #2C6AF6;
  --secondary-red: #F62C50;

  /* --sh-0: #020018;  */
  --sh-5: #0F0D24;
  --sh-10: #1B192F;
  --sh-50: #80808B;
  --sh-90: #E6E5E8;
  /* --sh-100: #FFF; */

  /* --l-0: #FFF; */
  --l-5: #F9F9FA;
  --l-10: #F3F2F5;
  --l-50: #C1C0CC;
  --l-90: #8F8EA3;
  /* --l-100: #020018; */

  /* demoted ? */
  --l-80: #9B9AAD;

}
.bg--l-5 {
  background: var(--l-5);
}
.bg--primary-green {
  background: var(--primary-green);
}
.bg--secondary-salmon {
  background-color: var(--secondary-salmon);
}
.f--l-90 {
  color: var(--l-90);
}

/* demoted ? */
.f--l-80 {
  color: var(--l-80);
}

body,
input,
textarea,
a {
  color: var(--primary-dark);
}

body.dark,
.dark input,
.dark textarea,
.dark .h1,
.dark .h2,
.dark .h3,
.dark .h5,
.dark .h5,
.dark .h6,
.dark .h7  {
  color: var(--primary-white);
}

time {
  color: var(--l-80);
}
